# docker-compose.yml
# Versão da especificação — pode remover o "version" se quiser
services:
  # ------------------------------------
  # 1. BACKEND (Spring Boot com H2)
  # ------------------------------------
  backend:
    build:
      context: ./back
    container_name: datasync-manager-backend
    restart: always
    environment:
      SERVER_PORT: ${BACKEND_PORT}
      APP_CRYPTO_KEY: ${SECRET_ENCRYPTION_KEY}
      FRONTEND_URL: http://localhost:${FRONTEND_PORT}
    ports:
      - "${BACKEND_PORT}:8082" # Porta externa (HOST):interna (container)

  # ------------------------------------
  # 2. FRONTEND (Angular/Nginx)
  # ------------------------------------
  frontend:
    build:
      context: ./front
    container_name: datasync-manager-frontend
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
